<nz-layout>
  <nz-header>
    <div class="main">
      <div class="logo">
        <a [routerLink]="['/']">Форма расчета страхования</a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item *ngIf="isAuth()" (click)='logout()'>Выход</li>
      </ul>
    </div>
  </nz-header>
  <nz-layout class="main-content">
    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
