<div id="plan-table">
  <table class="tableizer-table">
    <thead>
      <tr class="tableizer-firstrow border big">
        <th [style.width]="'12.5%'" style="background: black; color: white">
          <strong>Дата Иллюстрации:</strong>
        </th>
        <th [style.width]="'8.5%'" style="background: black; color: white">
          &nbsp;
        </th>
        <th [style.width]="'12.5%'" style="background: black; color: white">
          <strong>{{ today | date: "dd.MM.yyyy" }}</strong>
        </th>
        <th [style.width]="'12.5%'" style="background: black; color: white">
          &nbsp;
        </th>
        <th [style.width]="'8.5%'" style="background: black; color: white">
          &nbsp;
        </th>
        <th [style.width]="'12.5%'" style="background: black; color: white">
          <strong>Сотрудник банка:</strong>
        </th>
        <th [style.width]="'12.5%'" colspan="2" style="background: white; color: black"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="8" class="border-divider" style="text-align: center">
          <h1>
            ЗАО "Jubilee Kyrgyzstan Insurance Company" (Джубили Кыргызстан
            Иншуренс Компани)
          </h1>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>1. Название плана:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>План Мээрим</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2">1.1. ФИО Застрахованного лица:</td>
        <td>&nbsp;</td>
        <td>{{ data.fullName }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2">
          1.2. Дата рождения: {{ getMount(data.bithday) }}
          {{ data.bithday | date: "dd, yyyy" }}
        </td>
        <td>&nbsp;</td>
        <td colspan="3">
          1.4. Возраст на дату ближайшего дня рождения {{ data.yearDiff }} лет
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2">1.3. Срок страхования: {{ data.policeTime }} лет</td>
        <td>&nbsp;</td>
        <td colspan="3">
          1.5. Период уплаты премии: {{ data.policeTime }} лет
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>1.6. Общая премия:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          {{ getFormatNumber(data.totalSumPremium) }}
        </td>
        <td>{{ period?.label }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>1.7. Базовая премия:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{ getFormatNumber(data.basicPremium) }}</td>
        <td>{{ period?.label }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2">1.8. Основная Страховая сумма:</td>
        <td>&nbsp;</td>
        <td>{{ getFormatNumber(data.incurancePrice) }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td>&nbsp;</td>
        <td>1.9.Код плана:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>009</td>
        <td>1.10. Опросный лист №</td>
        <td>&nbsp;</td>
        <td>{{ data.numberDocument }}</td>
      </tr>
      <tr>
        <td colspan="2">
          <b *ngIf="data.isAccidentalDeath || data.isDisabilityAccident"
            >2. Дополнительное покрытие:</b
          >
        </td>
        <td>
          <b *ngIf="data.isAccidentalDeath || data.isDisabilityAccident">Код</b>
        </td>
        <td>
          <b *ngIf="data.isAccidentalDeath || data.isDisabilityAccident"
            >Срок</b
          >
        </td>
        <td>
          <b *ngIf="data.isAccidentalDeath || data.isDisabilityAccident"
            >Премия</b
          >
        </td>
        <td colspan="3">
          <b *ngIf="data.isAccidentalDeath || data.isDisabilityAccident"
            >Страховая сумма по Доп. покрытию</b
          >
        </td>
      </tr>
      <tr>
        <td colspan="2">
          {{
            data.isAccidentalDeath
              ? "Смерть в результате несчастного случая"
              : "&nbsp;"
          }}
        </td>
        <td>{{ data.isAccidentalDeath ? "СНС" : "" }}</td>
        <td>{{ data.isAccidentalDeath ? data.policeTime + " лет" : "" }}</td>
        <td>
          {{
            data.isAccidentalDeath
              ? getFormatNumber(
                  data.isAccidentalDeathPremium +
                    data.isAccidentalDeathAddPremium
                )
              : ""
          }}
        </td>
        <td colspan="3">
          {{
            data.isAccidentalDeath
              ? getFormatNumber(data.isAccidentalDeathSumInsured)
              : ""
          }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          {{
            data.isDisabilityAccident
              ? "Инвалидность в результате несчастного случая"
              : "&nbsp;"
          }}
        </td>
        <td>{{ data.isDisabilityAccident ? "ИНС" : "" }}</td>
        <td>{{ data.isDisabilityAccident ? data.policeTime + " лет" : "" }}</td>
        <td>
          {{
            data.isDisabilityAccident
              ? getFormatNumber(
                  data.isDisabilityAccidentPremium +
                    data.isDisabilityAccidentAddPremium
                )
              : ""
          }}
        </td>
        <td colspan="3">
          {{
            data.isDisabilityAccident
              ? getFormatNumber(data.isDisabilityAccidentSumInsured)
              : ""
          }}
        </td>
      </tr>
      <tr class="border-divider">
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="8">
          <b *ngIf="isShowAdditianPremium()">
            3. Я принимаю повышение страховой премии по медицинским и
            профессиональным показаниям согласно нижеуказанному:
          </b>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <b *ngIf="data.medicalFactor">Коэффициент по мед.показаниям</b>
        </td>
        <td>{{ data.medicalFactor > 0 ? data.medicalFactor + "%" : "" }}</td>
        <td>&nbsp;</td>
        <td colspan="2">
          <b *ngIf="data.additionalPremium > 0">Дополнительная премия:</b>
        </td>
        <td>
          {{
            data.additionalPremium > 0
              ? getFormatNumber(data.additionalPremium)
              : ""
          }}
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          <b *ngIf="data.professionCoefficient > 0">Коэффициент по профессии</b>
        </td>
        <td colspan="2">
          <span *ngIf="data.professionCoefficient">
            {{ data.professionCoefficient | number: "1.0-2" }} на каждую 1000
            сомов С.С.*
          </span>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          <b *ngIf="data.isAccidentalDeathFactor > 0"
            >Смерть в результате н. с.</b
          >
        </td>
        <td>
          {{
            data.isAccidentalDeathFactor > 0
              ? data.isAccidentalDeathFactor + " раз"
              : ""
          }}
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td colspan="2">
          <b *ngIf="data.isDisabilityAccidentFactor > 0"
            >Инвалидность в результате н.с.</b
          >
        </td>
        <td>
          {{
            data.isDisabilityAccidentFactor > 0
              ? data.isDisabilityAccidentFactor + " раз"
              : ""
          }}
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td><b>4. Общая С.С.*</b></td>
        <td>{{ getFormatNumber(data.incurancePrice) }}</td>
        <td>&nbsp;</td>
        <td><b>5. МЕД.ТРЕБ.:</b></td>
        <td>&nbsp;</td>
        <td>{{ data.medicatalType }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td><b>6. Клиент:</b></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td colspan="2"><b>7. Страховой консультант:</b></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4" class="border-right short-line">
          Настоящим подтверждаю понимание настоящей Иллюстрации выплат, и полное
          согласие с указанными суммами страховых премий и страховых выплат.
          Никакие иные иллюстрации выплат мной не были запрошены и не были
          получены. Я уведомлен, что сумма страховой премии может быть увеличена
          по результатам рассмотрения заполненного мной опросного листа, и
          пройденных мед. обследований.
        </td>
        <td colspan="4" class="short-line">
          Настоящим подтверждаю, что условия страхования разъяснены клиенту в
          соответствии с действующими Правилами страхования плана Мээрим.
          Не было допущено каких-либо искажений, умалчивания каких-либо условий
          страхования с моей стороны.
        </td>
      </tr>
      <tr>
        <td><b>Подпись:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td><b>Подпись:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>ФИО:</b></td>
        <td colspan="2" class="border-cell">{{ data.fullName }}</td>
        <td class="border-right">&nbsp;</td>
        <td><b>ФИО:</b></td>
        <td colspan="2" class="border-cell">{{ data.agent }}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Адрес:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td><b>Дата:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>ИНН:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Дата:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Контактный тел.:</b></td>
        <td colspan="2" class="border-cell">&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="border-right">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b style="text-decoration: underline">10. Отметка банка:</b></td>
        <td colspan="4">&nbsp;</td>
        <td colspan="3" rowspan="5" style="border-left: 2px solid;text-align: center;">М.П.</td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="8" class="short-line">
          <i>
            1. Настоящий документ носит характер Иллюстрации для лучшего
            понимания страхового плана. Окончательные условия страхования будут
            в соответствии с Полисом страхования и Приложения к нему.
          </i>
        </td>
      </tr>
      <tr>
        <td colspan="8" class="short-line">
          <i>
            2. Список необходимых медицинских обследований указан для
            предварительного расчета страховой премии. Они могут отличаться,
            если Застрахованный был ранее застрахован в ЗАО Джубили Кыргызстан
            Иншуренс Компани.
          </i>
        </td>
      </tr>
      <tr>
        <td colspan="8" class="short-line">
          <i>
            3. Данный план не имеет Выкупной суммы. Выкупная Сумма - денежная
            сумма, выплачиваемая в соответствии с Правилами Страхования при
            досрочном прекращении действия Полиса по инициативе Страхователя в
            соответствии с Правилами Страхования.
          </i>
        </td>
      </tr>
      <tr class="border-divider">
        <td colspan="8" class="short-line"><i> 4. *С.С. - Страховая Сумма </i></td>
      </tr>
      <td colspan="6" class="short-line"><i> 5. Только для внутреннего пользования </i></td>
      <td colspan="2" class="short-line">ISF Code: KRG_EFF</td>
      <tr>
        <td colspan="3" class="short-line">
          <i>6. Настоящая Иллюстрация выплат действует до:</i>
        </td>
        <td class="short-line"><b>30.июн.2023</b></td>
        <td colspan="4" class="short-line">&nbsp;</td>
      </tr>
      <tr class="border-divider">
        <td colspan="4" class="short-line"><i>(Поскольку возраст изменится после этой даты)</i></td>
        <td class="short-line">&nbsp;</td>
        <td class="short-line">&nbsp;</td>
        <td class="short-line">&nbsp;</td>
        <td class="short-line"></td>
      </tr>
      <tr class="border-divider">
        <td colspan="8" style="text-align: right" class="short-line">
          Version Jun 2022 - Prepared By Actuarial Services Department
        </td>
      </tr>
    </tbody>
  </table>
</div>
