<form nz-form [formGroup]="form" [nzLayout]="'hotizontal'">
  <div nz-row [nzGutter]="8">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <nz-card nzTitle="Базовая информация по полису">
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzRequired
            nzFor="fullName"
            >ФИО</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzErrorTip="Фио обязательное поле к заполнению"
          >
            <input nz-input formControlName="fullName" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            nzRequired
            nzFor="gender"
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            >Пол (М-мужчина, F-женщина)</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
            <nz-select
              formControlName="gender"
              nzPlaceHolder="Выбрать пол"
              nzErrorTip="Пол обязательное поле к заполнению"
            >
              <nz-option
                [nzValue]="item.value"
                [nzLabel]="item.label"
                *ngFor="let item of genders"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            nzRequired
            nzFor="bithday"
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzErrorTip="Дата рождения обязательное поле к заполнению"
            >Дата рождения (дд/мм/гг)</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
            <nz-date-picker
              formControlName="bithday"
              [nzFormat]="dateFormat"
              [nzAllowClear]="false"
              [nzShowToday]="false"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            nzRequired
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzFor="incurancePrice"
            >{{
              isSavingPlan() || isMeerimPlan()
                ? "Укажите страховую сумму"
                : "Выплата по случаю смерти"
            }}</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            [nzErrorTip]="
              isSavingPlan()
                ? 'Страховая сумма обязательна'
                : 'Выплата по случаю смерти обязательна'
            "
          >
            <nz-input-number
              formControlName="incurancePrice"
              class="number-input"
              [nzMin]="200000"
              [nzMax]="isMeerimPlan() ? 1500000 : 200000000"
              [nzStep]="1"
              [nzFormatter]="formatterPrice"
              [nzParser]="parsePrice"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            nzRequired
            nzFor="policeTime"
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            >Срок полиса</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzErrorTip="Срок полиса обязательное поле к заполнению"
          >
            <nz-input-number
              formControlName="policeTime"
              class="number-input"
              [nzMin]="minPoliceTimeLimit"
              [nzMax]="maxPoliceTimeLimit"
              [nzStep]="1"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            nzRequired
            nzFor="policePedriod"
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            >Периодичность уплаты премии</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzErrorTip="Периодичность уплаты премии обязательно к заполнению"
          >
            <nz-select
              formControlName="policePedriod"
              nzPlaceHolder="Выбрать период"
            >
              <nz-option
                [nzValue]="item.value"
                [nzLabel]="item.label"
                *ngFor="let item of periods"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-card>
      <nz-card nzTitle="Смерть в результате несчастного случая">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSm="24" nzMd="24">
            <nz-form-item>
              <nz-form-control>
                <nz-switch
                  formControlName="isAccidentalDeath"
                  (ngModelChange)="onChangeIsAccidentalDeath($event)"
                ></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            nz-col
            nzSm="24"
            nzMd="4"
            *ngIf="form.value?.isAccidentalDeath"
            class="display-center"
          >
            Премия: {{ getFormatNumber(form.value.isAccidentalDeathPremium) }}
          </div>
          <div
            nz-col
            nzSm="24"
            nzMd="6"
            *ngIf="form.value?.isAccidentalDeath"
            class="display-center"
          >
            Доп. Премия:
            {{ getFormatNumber(form.value.isAccidentalDeathAddPremium) }}
          </div>
          <div
            nz-col
            nzSm="24"
            nzMd="14"
            *ngIf="form.value?.isAccidentalDeath"
            class="display-center"
          >
            <div class="display-center">
              Страховая сумма:
              <nz-input-number
                formControlName="isAccidentalDeathSumInsured"
                class="number-input"
                [nzMin]="200000"
                [nzStep]="1"
                [nzFormatter]="formatterPrice"
                [nzParser]="parsePrice"
              ></nz-input-number>
            </div>
          </div>
        </div>
      </nz-card>

      <nz-card nzTitle="Инвалидность в результате несчастного случая">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSm="24" nzMd="24">
            <nz-form-item>
              <nz-form-control>
                <nz-switch
                  formControlName="isDisabilityAccident"
                  (ngModelChange)="onChangeIsDisabilityAccident($event)"
                ></nz-switch>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div
            nz-col
            nzSm="24"
            nzMd="4"
            *ngIf="form.value?.isDisabilityAccident"
            class="display-center"
          >
            Премия:
            {{ getFormatNumber(form.value.isDisabilityAccidentPremium) }}
          </div>
          <div
            nz-col
            nzSm="24"
            nzMd="6"
            *ngIf="form.value?.isDisabilityAccident"
            class="display-center"
          >
            Доп. Премия:
            {{ getFormatNumber(form.value.isDisabilityAccidentAddPremium) }}
          </div>
          <div
            nz-col
            nzSm="24"
            nzMd="14"
            *ngIf="form.value?.isDisabilityAccident"
            class="display-center"
          >
            <div class="display-center">
              Страховая сумма:
              <nz-input-number
                formControlName="isDisabilityAccidentSumInsured"
                class="number-input"
                [nzMin]="200000"
                [nzStep]="1"
                [nzFormatter]="formatterPrice"
                [nzParser]="parsePrice"
              ></nz-input-number>
            </div>
          </div>
        </div>
      </nz-card>

      <nz-card nzTitle="Медицинские нагрузки">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSm="24">Страхование жизни</div>
          <div nz-col nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label
                nzFor="medicalFactor"
                [nzSm]="24"
                [nzXs]="24"
                [nzMd]="24"
                [nzLg]="12"
                >Коэффициент по мед. показаниям
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
                <nz-select formControlName="medicalFactor">
                  <nz-option
                    [nzValue]="item.value"
                    [nzLabel]="item.label"
                    *ngFor="let item of medicalFactors"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label
                nzFor="professionCoefficient"
                [nzSm]="24"
                [nzXs]="24"
                [nzMd]="24"
                [nzLg]="12"
                >Коэфф. по профессии</nz-form-label
              >
              <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
                <nz-select formControlName="professionCoefficient">
                  <nz-option
                    [nzValue]="item.value"
                    [nzLabel]="item.label"
                    *ngFor="let item of professionCoefficients"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzFor="isAccidentalDeathFactor" [nzSpan]="16"
                >Смерть в результате несчастного случая умножить
                на</nz-form-label
              >
              <nz-form-control [nzSpan]="8">
                <nz-select
                  formControlName="isAccidentalDeathFactor"
                  nzPlaceHolder="Выбрать множитель"
                  [style.width]="'auto'"
                  [nzDisabled]="checkIsAccidentalDeathFactor"
                >
                  <nz-option
                    [nzValue]="item.value"
                    [nzLabel]="item.label"
                    *ngFor="let item of factors"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzFor="isDisabilityAccidentFactor" [nzSpan]="16"
                >Инвалидность в результате несчастного случая умножить
                на</nz-form-label
              >
              <nz-form-control [nzSpan]="8">
                <nz-select
                  formControlName="isDisabilityAccidentFactor"
                  nzPlaceHolder="Выбрать множитель"
                  [style.width]="'auto'"
                  [nzDisabled]="checkIsDisabilityAccidentFactor"
                >
                  <nz-option
                    [nzValue]="item.value"
                    [nzLabel]="item.label"
                    *ngFor="let item of factors"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <nz-card nzTitle="Базовая информация" class="red-card">
        <nz-row [nzGutter]="16" [style.marginBottom]="'20px'">
          <nz-col [nzSpan]="24">
            <h5 nz-typography>Выбрать расчетный план</h5>
            <nz-radio-group
              formControlName="plan"
              nzButtonStyle="solid"
              nzDanger
            >
              <label
                nz-radio-button
                [nzValue]="plan.value"
                *ngFor="let plan of plans"
              >
                {{ plan.label }}</label
              >
            </nz-radio-group>
          </nz-col>
        </nz-row>
        <div class="render-data">
          <nz-row>
            <nz-col [nzSpan]="12">Дата иллюстрации</nz-col>
            <nz-col [nzSpan]="12">
              {{ today | date: "dd.MM.yyyy" }}
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSpan]="12">Возраст </nz-col>
            <nz-col [nzSpan]="12">
              {{ yearDiff + " лет" }}
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSpan]="12">Период уплаты премии </nz-col>
            <nz-col [nzSpan]="12">
              {{ form.get("policeTime").value + " лет" }}
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSpan]="12">Базовая премия </nz-col>
            <nz-col [nzSpan]="12">
              {{ getFormatNumber(basicPremium) }}
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSpan]="12">Дополнительная премия </nz-col>
            <nz-col [nzSpan]="12">
              {{ getFormatNumber(additionalPremium) }}
            </nz-col>
          </nz-row>

          <nz-row>
            <nz-col [nzSpan]="12">Общая премия </nz-col>
            <nz-col [nzSpan]="12">
              {{ getFormatNumber(totalSumPremium()) }}
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col [nzSpan]="12">Мед. требования</nz-col>
            <nz-col [nzSpan]="12">
              {{ getMedicatalType() }}
            </nz-col>
          </nz-row>
          <nz-row *ngIf="!isSavingPlan() && !isKelechek() && !isMeerimPlan()">
            <nz-col [nzSpan]="12">Выплата по случаю смерти</nz-col>
            <nz-col [nzSpan]="12">
              {{ getFormatNumber(form.value.incurancePrice) }}
            </nz-col>
          </nz-row>
          <nz-row *ngIf="!isSavingPlan() && !isKelechek() && !isMeerimPlan()">
            <nz-col [nzSpan]="12">Выплата по случаю дожития</nz-col>
            <nz-col [nzSpan]="12">
              {{ getFormatNumber(aliveSum.toFixed()) }}
            </nz-col>
          </nz-row>
        </div>
        <nz-form-item>
          <nz-form-label
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            nzFor="numberDocument"
            >Опросный лист №
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
            <input
              nz-input
              formControlName="numberDocument"
              onlyNumbers
              maxlength="13"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            nzFor="agent"
            [nzSm]="24"
            [nzXs]="24"
            [nzMd]="24"
            [nzLg]="12"
            >ФИО страхового агента</nz-form-label
          >
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
            <input nz-input formControlName="agent" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-alert
            class="alert-preview"
            nzType="error"
            [nzMessage]="
              'Страховая Сумма для Смерть в результате несчастного случая не может быть больше ' +
              getMaximalInsured()
            "
            *ngIf="!checkIsAccidentalDeathSumInsured()"
          ></nz-alert>
          <nz-alert
            class="alert-preview"
            nzType="error"
            [nzMessage]="
              'Страховая Сумма для Инвалидность в результате несчастного случая не может быть больше ' +
              getMaximalInsured()
            "
            *ngIf="!checkIsDisabilityAccidentSumInsured()"
          ></nz-alert>
          <nz-alert
            class="alert-preview"
            nzType="error"
            [nzMessage]="
              'Максимально допустимая Страховая Сумма плана составляет ' + incurancePriceLimit
            "
            *ngIf="!checkIsIncurancePrice()"
          ></nz-alert>
          <nz-alert
            class="alert-preview"
            nzType="error"
            [nzMessage]="
              'Возраст плюс Период полиса должен быть меньше или равен 65 лет'
            "
            *ngIf="!checkIsPolicePeriod()"
          ></nz-alert>
          <nz-alert
            class="alert-preview"
            nzType="error"
            [nzMessage]="'Возраст должен быть в диапазоне от 18 до 60 лет'"
            *ngIf="!checkIsYearDiff()"
          ></nz-alert>
        </nz-form-item>
        <div>
          <button
            nz-button
            role="button"
            nzType="default"
            nzType="primary"
            (click)="preview()"
            [disabled]="!checkPreview()"
          >
            <i nz-icon nzType="eye" nzTheme="outline"></i> Предпросмотр
          </button>
        </div>
      </nz-card>
    </div>
  </div>
</form>
