<div nz-row [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <div [ngSwitch]="true">
      <app-saving-plans
        *ngSwitchCase="isSavingPlan()"
        [data]="data"
      ></app-saving-plans>
      <app-optimum-plans
        *ngSwitchCase="isOptimumPlan()"
        [data]="data"
      ></app-optimum-plans>
      <app-optimum-plus-plans
        *ngSwitchCase="isOptimumPlusPlan()"
        [data]="data"
      ></app-optimum-plus-plans>
      <app-effective
        *ngSwitchCase="isEffective()"
        [data]="data"
      ></app-effective>
      <app-meerim
        *ngSwitchCase="isMeerim()"
        [data]="data"
      ></app-meerim>
      <app-kelechek
        *ngSwitchCase="isKelechek()"
        [data]="data"
      ></app-kelechek>
    </div>
  </div>

  <img id="img-test" />
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
    <button
      nz-button
      role="button"
      nzType="default"
      nzType="primary"
      nzDanger
      [nzLoading]="isLoading"
      (click)="generatePDF2()"
    >
      <i nz-icon nzType="download" nzTheme="outline"></i> Скачать
    </button>
    <button
      nz-button
      role="button"
      nzType="default"
      nzType="primary"
      nzDanger
      [nzLoading]="isLoading"
      (click)="printPdf()"
    >
      <i nz-icon nzType="printer" nzTheme="outline"></i> Распечатать
    </button>
    <button nz-button role="button" nzType="default" (click)="closeDrawer()">
      <i nz-icon nzType="close" nzTheme="outline"></i> Закрыть
    </button>
  </div>
</div>
