<div nz-row nzJustify="space-around" nzAlign="middle" class="height-auth" class="auth">
  <div nz-col nzXs="24" nzSm="22" nzMd="6">
    <div class="card-wrapper">
      <div class="card-main-block">
        <nz-spin [nzSpinning]="loading">
          <ng-template #cardTitle>
            <div nz-row>
              <div nz-col [nzXs]="12">
                {{ 'Войти' }}
              </div>
            </div>
          </ng-template>
          <nz-card [nzTitle]="cardTitle" class="w-100">
            <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="'Введите email'">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="email" nz-input formControlName="email" name="email" autocomplete="email"
                      [placeholder]="'Email'" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <div>
                <nz-form-item>
                  <nz-form-control [nzErrorTip]="'Пароль обязтельное поле'">
                    <nz-input-group nzPrefixIcon="lock">
                      <input autofocus type="password" nz-input formControlName="password"
                        autocomplete="current-password" [placeholder]="'Пароль'" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <button nz-button class="form-button" [nzType]="'link'" type="button" (click)='sendConfirmEmail()' *ngIf="showConfirmEmail">
                {{ 'Потвердить аккаунт' }}
              </button>
              <button nz-button class="form-button" [nzType]="'primary'" [nzSize]="'large'">
                {{ 'Войти' }}
              </button>
            </form>
          </nz-card>
        </nz-spin>
      </div>
    </div>
  </div>
</div>
