@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";


@primary-color: #632cce;
@layout-header-background: black;
@card-head-background:  black;
@card-head-color: white;
// @btn-primary-bg: #1890ff;
// @btn-primary-color: #fff;
@body-background: #f0f2f5;
// Base background color for most components
// @component-background: #f0f2f5;
@card-head-padding: 5px;
@card-head-height: 30px;
@card-padding-base: 10px;
@form-item-margin-bottom: 5px;

.ant-form-item-label {
  text-align: left;
}

.ant-form-item-label > label::after {
  display: none;
}
