@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

html,
body {
  height: 100%;
  min-height: 100%;
}

.logo a {
  font-size: 22px;
  vertical-align: middle;
  height: 100%;
  background-color: transparent;
  color: #9d9d9d;
  float: left;
  margin-right: 20px;
}

.logo a:hover {
  color: #ffffff;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 12px 24px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ant-table-wrapper {
  margin-top: 10px;
}

[nz-button] {
  margin-right: 5px;
}

form > * {
  margin-bottom: 12px;
}

nz-select {
  width: 100%;
}
.ant-card {
  margin-top: 10px !important;
}

.number-input {
  width: 250px;
}

@media (max-width: 768px) {
  .ant-card {
    margin-top: 20px !important;
  }

  .number-input {
    width: 100%;
  }

  .ant-card-head-title {
    white-space: break-spaces !important;
  }

  .ant-card-body {
    padding: 12px !important;
  }

  .ant-radio-button-wrapper {
    font-size: 14px;
    width: 50%;
    text-align: center;
    padding: 0 5px !important;
    border-left-width: 1px !important;
  }
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 0 !important;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 0 !important;
}

.red-card {
  .ant-card-head {
    background: #9a4c4c;
  }
}

.border {
  border: 1px solid black;
}
.border.big {
  border: 2px solid black;
}

.border-divider {
  border-bottom: 2px solid black;
}
.border-cell {
  border-bottom: 1px solid black;
}
.border-right {
  border-right: 1px solid;
}
.tableizer-table {
  width: 1000px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 79.25%;
  margin: 10px 20px;
  border: 2px solid black;
}

.tableizer-table tbody {
  border: 1px solid;
}

tr > td:first-child {
  padding-left: 3px;
}

.render-data .ant-form-item {
  margin: 0;
  padding: 0;
}

label {
  height: 20px;
}

#plan-table {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.middle-text {
  text-align: center;
}

.tableizer-firstrow > th {
  background-color: black;
}

@media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background: white;
  }

  .tableizer-table {
    width: calc(100% - 30px);
    height: 70%;
    padding: 60px;
    margin-top: 25px;
  }
}

.alert-preview {
  width: 100%;
  margin-bottom: 5px;
}

.ant-alert-error {
  background-color: #ce2b12;
  border: 1px solid #ffccc7;

  .ant-alert-message {
    color: white;
  }
}

.short-line {
  line-height: 1;
}
